@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
    font-family: "GT-Ultra-Median-Bold-Trial";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/GT-Ultra-Median-Bold-Trial.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

:root {
    --primary: #fff38a;
    --secondary: #827b68;
    --bg: #060447;
}

body {
    background-color: var(--bg);
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

main {
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.presentation {
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-header {
        display: flex;
        flex-direction: column;
    }

    &-logos {
        display: flex;
        gap: 15px;
    }

    &-logo {
        opacity: 0;
        margin-bottom: 24px;
    }

    .logo-active {
        display: block;
        opacity: 1;
    }

    &-titles {
        display: flex;
        flex-direction: row;
        max-width: 509px;
        width: 100%;
        gap: 15px;
    }

    &-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48.76px;
        margin-bottom: 8px;
        width: 33%;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
    }

    .title-active {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    &-descriptions {
        display: flex;
        flex-direction: row;
        max-width: 422px;
        width: 100%;
        gap: 15px;
        flex-wrap: nowrap;
    }

    &-description {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        opacity: 0;
        width: 33%;
        visibility: hidden;
        white-space: nowrap;
    }

    .description-active {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    &-dates {
        display: flex;
        flex-direction: row;
        max-width: 515px;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
    }

    &-date {
        font-family: "GT-Ultra-Median-Bold-Trial", sans-serif;
        font-weight: 900;
        font-size: 14em;
        margin: auto;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0px;

        .date-img {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

        .date-in {
            animation: fade-in 0.35s;
        }

        .date-out {
            animation: fade-out 0.35s;
        }
    }

    .date-active {
        opacity: 1;
        visibility: visible;
    }

    .date-active,
    .date-out,
    .date-in {
        display: block;
        width: 100%;
        margin: auto;
        opacity: 1;
        visibility: visible;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-out {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.poster {
    width: 50%;
    padding: 1em;

    &-imgs {
        max-width: 422px;
        margin-right: 0;
        margin-left: auto;
        display: flex;
        overflow-x: hidden;
    }

    &-img {
        display: block;
        margin: auto;
        width: 100%;
    }

    &-active {
        display: flex;
    }
}

.naviguation {
    margin-top: 80px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-arrows {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        gap: 45px;

        .arrow-left,
        .arrow-right {
            opacity: 0.55;
        }

        .arrow-active {
            cursor: pointer;
            opacity: 1;
        }
    }

    &-arrows:first-child img {
        align-self: flex-start;
        margin: auto;
    }

    &-arrows:last-child img {
        align-self: flex-end;
        margin: auto;
    }

    &-progress {
        width: 75%;
        position: relative;

        &-bar {
            position: absolute;
            background: var(--primary);
            height: 5px;
            width: 0%;
            top: 50%;
            left: 0;
            z-index: -8;
            transition: width 0.25s;
            max-width: 100%;
        }
    }

    &-steps {
        display: flex;
        justify-content: space-between;
        z-index: 20;

        .step::before {
            content: "";
            background-color: var(--secondary);
            position: absolute;
            top: 50%;
            left: 0;
            height: 5px;
            width: 100%;
            z-index: -10;
        }

        .step-circle {
            fill: var(--secondary);
            transition: fill 0.35s;
        }

        .step-circle-active {
            fill: var(--primary);
            stroke: var(--secondary);
            stroke-width: 2;
            transition: fill 0.35s;
        }
    }
}

@media screen and (max-width: 1110px) {
    .presentation-date {
        font-size: 18vw;
    }

    .presentation-description {
        font-size: 2vw;
    }

    .presentation-title {
        font-size: 4vw;
    }
}

@media screen and (max-width: 650px) {
    main {
        padding: 0.5em;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
    .presentation-date {
        font-size: 3.8em;
    }

    .presentation-description {
        font-size: 1em;
    }

    .presentation-title {
        font-size: 1.8em;
    }

    .presentation-dates {
        position: absolute;
        top: 2.3em;
        right: 15px;
    }

    .poster {
        width: 90%;
        margin: auto;
        overflow-x: hidden;
    }

    .poster-img {
        width: 100%;
    }

    .naviguation {
        position: absolute;
        bottom: 30px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 25px;
        margin-top: 0px;
        padding: 0;
    }

    .naviguation-arrows {
        gap: 12px;
    }

    .naviguation-progress-bar {
        z-index: 12;
    }

    .step {
        z-index: 10;
    }

    .naviguation-steps .step::before {
        position: initial;
        z-index: -1;
    }
}
